body {
    background-color: rgb(131, 242, 131);
}
    h1{
      color: white;
    }
    h1{
    font-size: 64px;
    background-color:ForestGreen;
      text-align: center
    }
    img{
      width: 600px;
      margin-top:px
   
    }
    img{
      margin-left:435px
    }
    h1{
      margin-left: auto;
    }
    #img2{
      width: 100px; 
    margin-left:32px
    }
    #img3{
          width: 120px;
    margin-left:32px
    }
    #img4{
       width: 115px;
    margin-left:32px
    }
    
    hr3{
      margin-top:1000px
    }
      
    h4{
      margin-left:700px
    }
    h4{
      color:DarkGreen	
    }
    button{
      color:green
    }